<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss}  %-5p %-10.10X{camel.exchangeId} %-40.40logger{40} - %msg %n</Pattern>
        </layout>
    </appender>
<!--    <logger name="com.tachyon.news.template.repository" level="debug">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
